@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--bg-color : #1D1D1D;
	--text-color: white;
	--secondary-text-color: #e9ecef;
	--block-color : #1778d3;
	--secondary-block-color : #2495ff;
	--method-color : #2997ff;
}

body {
	background-color: var(--bg-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	width: 15px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-block-color);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--block-color);
}
